*.log
external_lua/custom_quickbuy/heroes/*.txt
external_lua/custom_quickbuy/heroes/*.bak
external_lua/custom_quickbuy/last_hero.txt
external_lua/custom_quickbuy/*.tmp
__pycache__/
.pytest_cache/
build/
dist/*
!dist/300Hero-QuickBuy-Installer.exe
*.spec
local_backups/
